.container ul {
  list-style: none;
  margin: 20px 20px;
  padding: 0 20px;
}

.item {
  display: inline-block;
  width: 500px;
  text-align: center;
  margin-top: 50px;
  background: #fafafa;
  font-family: 'Open Sans';
  border: 2px solid white;
  transition: 0.3s ease-in;
}

.item:hover {
  border: 2px solid rgb(56, 48, 146);
}

.item img {
  display: block;
  width: 100%;
}

.despriptItem {
  background: #fafafa;
  padding: 15px 0;
}

.title {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}

.price {
  font-size: 16px;
  color: #444444;
  display: block;
  margin-bottom: 12px;
}

.despriptItem {
  display: block;
  text-align: center;
}

.bttn {
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 28px;
  transition: 0.3s ease-in;
}

.item:hover .bttn {
  background: rgb(56, 48, 146);
}
