body {
  background-color: #e0d6d6;
  color: #262b37;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  margin-right: 4px;
}

a {
  text-decoration: none;
}

.menu {
  background: #e0d6d6;
  color: #262b37;
  width: 600px;
  border: black 2px solid;
  margin-right: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.items {
  margin-top: 40px;
}

.backLink {
  background: #aaa8a8;
  border: 1px solid;
  color: rgb(4, 4, 4);
  padding: 1px 20px;
  text-decoration: none;
}
