input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 5px;
  margin: 10px;
}

.btn {
  background: rgb(197, 238, 208);
  color: #161515;
  border: 1px solid #161515;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  padding: 5px 10px;
  font-family: inherit;
  cursor: pointer;
  margin-top: 60px;
}

.btn:hover {
  opacity: 0.8;
}
