.header {
  background: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
}

.link {
  background: rgb(197, 238, 208);
  float: left;
  display: block;
  color: #161515;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  border: 1px solid #161515;
}

.link:hover {
  color: rgb(75, 68, 162);
}

.btnLog {
  background: rgb(137 131 183);
  float: right;
  display: block;
  color: #161515;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  border: 1px solid #161515;
  font-family: 'Poppins', sans-serif;
}

.homepage {
  background: rgb(239 255 175);
}

.log {
  background: rgb(137 131 183);
}

.cart {
  background: rgb(197, 238, 208);
  float: right;
  display: block;
  color: #161515;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  border: 1px solid #161515;
  font-family: 'Poppins', sans-serif;
}
