body {
  max-width: 750px;
  margin: auto;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  background-image: url(/public/trianglify.png);
  background-size: cover;
  background-attachment: fixed;
}
