body {
  max-width: 750px;
  margin: auto;
  padding-top: 20px;
  font-family: 'Poppins', sans-serif;
  background-image: url(/Users/marina/Documents/React/train/public/trianglify.png);
  background-size: cover;
  background-attachment: fixed;
}
