.container {
  text-align: center;
  background: #dff3be;
  color: #316ba9;
  padding: 5px 20px;
  border-radius: 20px;
  margin-top: 200px;
  box-shadow: 4px 4px 14px rgb(0, 0, 0, 50%);
}

.container h1 {
  font-size: 1.5em;
  margin-top: 50px;
  text-align: center;
}

.container h3 {
  padding: 0 10px;
  text-align: center;
  margin-bottom: 50px;
}

.backLink {
  background: #b9e4c1;
  border: 1px solid;
  color: #316ba9;
  padding: 2px 5px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}
